<div class="root">
    <img src="logo.png" class="logo">

    <form [ngFormModel]="form" novalidate class="form-login" >
        <p *ngIf="username.hasError('required')">Username is required.</p>
        <p *ngIf="username.hasError('minlength')">Username must be at least 3 characters long.</p>
        <input [class.inputError]="!myForm.find('username').valid && myForm.find('username').touched" class="input-username" [ngFormControl]="form.controls['username']" #username="ngForm"  type="text" placeholder="username" required>
        <p *ngIf="password.errors.required">Password is required.</p>
        <p *ngIf="password.errors.minlength">Password must be at least 3 characters long.</p>
        <input class="input-password" [ngFormControl]="form.controls['password']" type="text" #password="ngForm" type="password" placeholder="password" required>
        <span>{{errorMsg}}</span>
        <button class="button-login" [disabled]="!form.valid"  (click)="login()" type="submit">login / register</button>
    </form>
</div>