.root {
    display: flex;
    flex-direction: column;
}

.logo {
    max-width:573px;
    max-height:220px;
    padding-left: 11.73%;
    padding-right: 11.73%;
    padding-top: 272px;
    padding-bottom: 69px;
    align-self: center;
    width: 100%;
}

/* TODO outsource common parts */
.input-username {
    border-radius: 10px;
    font-size: 2.25rem;
    height: 75px;
    margin-bottom: 35px;
    text-align:center;
    width: 100%;
}

.input-password {
    border-radius: 10px;
    font-size: 2.25rem;
    height: 75px;
    margin-bottom: 67px;
    text-align:center;
    width: 100%;
}

.button-login {
    border-radius: 10px;
    font-family: 'open_sanssemibold';
    font-size: 2.25rem;
    height: 75px;
    width: 100%;
}
