<div class="todo-textinput">
    <input class="new-todo" placeholder="What to do...hmmmm" autofocus="" [(ngModel)]="newTodoText" (keyup.enter)="addTodo()">
    <button (click)="addTodo()">+</button>
</div>
