.app{
    box-sizing: border-box;
    padding-left: 6.6%;
    padding-right: 6.6%;
    background: rgba(25, 91, 173, 1);
    font-family: 'open_sansregular';
    height: 100%;
    width: 100%;
    margin: 0;
}